@page
@model DZ1_28._01._2024_.Pages.RestaurantModel
@{
	ViewData["Title"] = "Restaurant";
}
<h1>Ресторан</h1>
<p>Название: @Model.RestaurantName</p>
<p>Звезды: @Model.CountOfStars</p>
<p>Адрес: @Model.Address</p>

